<!doctype html>
<html>
<head>

  <meta charset="utf-8">

  <!-- starting with IE11, EdgeHTML mode is the preferred document mode -->
  <!-- <meta http-equiv="x-ua-compatible" content="IE=edge"> -->

  <title><%= htmlWebpackPlugin.options.title %></title>

  <!-- CSS links (if any) are injected here -->

</head>
<body>

  <!-- this is where the application gets rendered -->
  <div id="app"></div>

  <!-- JavaScript chunks are injected here -->

</body>
</html>
